<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Bootstrap Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'js/annotator.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/annotator.css' %}">
  </head>
  <body>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" class="active">Ceek Annotator</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="bs-example">
                <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Jobs Offering Filter</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                               <label for="companies_select">Company:</label>
                               <select name="companies_select" id="companies_select" class="form-control">
                                   <option value="all">All</option>
                               </select>
                            </div>
                            <div class="form-group">
                               <label for="locations_select">Location:</label>
                               <select name="locations_select" id="locations_select" class="form-control" >
                                    <option value="all">All</option>
                               </select>
                            </div>
                            <div class="form-group">
                               <label for="positions_select">position:</label>
                               <select name="positions_select" id="positions_select" class="form-control" >
                                    <option value="all">All</option>
                               </select>
                            </div>
                            <div class="form-group">
                                <label for="year">Job Type:</label>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="fulltime" id="fulltime"value="fulltime" class="form-control"  /> Full Time</label><br/>
                                    <label><input type="checkbox" name="parttime" id="parttime" value="parttime" class="form-control"  /> Part Time</label>
                                </div>
                                <div class="checkbox">
                                </div>

                            </div>
                               <button id ="filterButton" name="filterButton" class="btn btn-primary btn-mini col-md-offset-5" type="button">Filter</button>
                               <button id ="loadButton" name="loadButton" class="btn btn-primary btn-mini col-md-offset" type="button">Load Data</button>
                            </form>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <div id="output" class="center"></div>
            <div id="chart_div" name="chart_div" style="height: auto;width: auto;">

            </div>
            <div class="modal" style="display: none;">
                    <div class="center">
                        <img alt="" src='http://www.cuisson.co.uk/templates/cuisson/supersize/slideshow/img/progress.BAK-FOURTH.gif'>
                    </div>
            </div>
        </div>
  </body>
</html>