<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">


    $(function() {

        $(".modal").show();
        //get company names
        $.ajax({
                type: "GET",
                url: "/ceek/job_offers/retrieve/list/",
                dataType: "json",
                success: function(data){
                    results = data['result'];

                    //company names
                    var arr_company_names= [];
                    $.each(results, function(index, element){
                        resultelem = element;
                        var company= resultelem['company'];
                        arr_company_names.push(company);
                    });
                    arr_company_names.sort();
                    var company_uniqueNames = [];
                    $.each(arr_company_names, function(i, el){
                        if($.inArray(el, company_uniqueNames) === -1) company_uniqueNames.push(el);
                    });
                    var companies_select = document.getElementById("companies_select");
                    $.each(company_uniqueNames, function(index, company) {
                        var el = document.createElement("option");
                        el.textContent = company;
                        el.value = company;
                        companies_select.appendChild(el);
                    });

                    //company locations
                    var arr_company_locations= [];
                    $.each(results, function(index, element){
                        resultelem = element;
                        var location= resultelem['location'];
                        arr_company_locations.push(location);
                    });
                    arr_company_locations.sort();
                    var location_uniqueNames = [];
                    $.each(arr_company_locations, function(i, el){
                        if($.inArray(el, location_uniqueNames) === -1) location_uniqueNames.push(el);
                    });
                    var locations_select = document.getElementById("locations_select");
                    $.each(location_uniqueNames, function(index, location) {
                        var el = document.createElement("option");
                        el.textContent = location;
                        el.value = location;
                        locations_select.appendChild(el);
                    });

                    //company positions
                    var arr_company_positions= [];
                    $.each(results, function(index, element){
                        resultelem = element;
                        var position= resultelem['title'];
                        arr_company_positions.push(position);
                    });
                    arr_company_positions.sort();
                    var positions_uniqueNames = [];
                    $.each(arr_company_positions, function(i, el){
                        if($.inArray(el, positions_uniqueNames) === -1) positions_uniqueNames.push(el);
                    });
                    var positions_select = document.getElementById("positions_select");
                    $.each(positions_uniqueNames, function(index, position) {
                        var el = document.createElement("option");
                        el.textContent = position;
                        el.value = position;
                        positions_select.appendChild(el);
                    });

                     var list = "<ul>";

                     $.each(results, function(index, element) {

                     resultelem = element;

                     var id= resultelem['id'];
                     var title= resultelem['title'];
                     var description= resultelem['description'];
                     var compnay_url= resultelem['compnay_url'];
                     var created_at= resultelem['created_at'];
                     var company= resultelem['company'];
                     var how_to_apply= resultelem['how_to_apply'];
                     var location= resultelem['location'];
                     var url= resultelem['url'];
                     var type= resultelem['type'];

                     var compnay_logo= resultelem['compnay_logo'];
                     if(!compnay_logo)
                          compnay_logo = "http://github-jobs.s3.amazonaws.com/aa9eed70-71cd-11e5-8978-1cefa7cbc255.png"
                     else if (compnay_logo == "chrome-extension://fomgcolbgdjbmnabgijnbmmmoimhlidi/images/logo.png")
                          compnay_logo = "http://github-jobs.s3.amazonaws.com/aa9eed70-71cd-11e5-8978-1cefa7cbc255.png"

                     list +=`<li id=`+id+`name=`+id+`>
                                <div class="container" >
                                <ul class="list-group">
                                <li>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="panel-more1">
                                            <img height="75" width="75" src="`+compnay_logo+`" /><br />

                                            <div style="text-align: center;">
                                            <span >
                                            `+ company +`
                                            </span>
                                            </div>
                                        </div>

                                        <div class="panel-info">
                                            <p><strong>`+ title +`</strong></p>
                                            <p><strong>`+ location+`</strong></p>
                                            <div class="bs-example">
                                            <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href=#collapse-`+id+`>Jobs Description</a>
                                                </h4>
                                            </div>
                                            <div id=collapse-`+id+` class="panel-collapse collapse" aria-expanded="false">
                                                `+description+`
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="panel-rating" style="margin-top:6px;float: right;" >
                                            <font size="2">Created at: `+ created_at +`</font>
                                        </div>


                                    </div>
                                </div>
                            </li>
                    </ul>
                    </div>
                    </div>
                     </li>`;
                     });
                     list +="</ul>";
                     document.getElementById("chart_div").innerHTML=list;
                    $(".modal").hide();
                }
        });

        //------------------------------------ Bar Chart Button Begin---------------------------------------------------
        $('#barChartButton').click(function(){
            $('#chart_div').css('height', '500px');
            $.ajax({
                type: "POST",
                url: "/ajaxcall/",
                dataType: "json",
                success: function(data){
                    result = data['results'];
                    drawBarChart(result);
                }
            });
        });

        //------------------------------------ CompareButton End--------------------------------------------------------
        $(document).on('click', '.navbar-nav li', function() {
           $(".navbar-nav li").removeClass("active");
           $(this).addClass("active");
        });
        });

    </script>
      <style type="text/css">
    .bs-example{
    	margin: 20px;
    }
   .modal{
       position: fixed;
       left: 30%;
    }
    .list-group li {
    list-style: none;
    }
    .panel-info, .panel-rating, .panel-more1 {
        float: left;
        margin: 0 10px;
    }
    ul
    {
        list-style-type: none;
    }
    p {

    margin-left: 0;
    margin-right: 0;

    }

</style>
  </head>
  <body>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" class="active">Ceek Annotator</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="bs-example">
                <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Jobs Offering Filter</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                               <label for="companies_select">Company:</label>
                               <select name="companies_select" id="companies_select" class="form-control">
                                   <option value="all">All</option>
                               </select>
                            </div>
                            <div class="form-group">
                               <label for="locations_select">Location:</label>
                               <select name="locations_select" id="locations_select" class="form-control" >
                                    <option value="all">All</option>
                               </select>
                            </div>
                            <div class="form-group">
                               <label for="positions_select">position:</label>
                               <select name="positions_select" id="positions_select" class="form-control" >
                                    <option value="all">All</option>
                               </select>
                            </div>
                            <div class="form-group">
                                <label for="year">Chart Type:</label>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="Line" id="LineChart"value="Line" class="form-control"  /> Line Chart</label><br/>
                                    <label><input type="checkbox" name="Bar" id="BarChart" value="Bar" class="form-control"  /> Bar Chart</label>
                                </div>
                                <div class="checkbox">

                                </div>

                            </div>
                               <button id ="filterButton" class="btn btn-primary btn-mini col-md-offset-5" type="button">Filter</button>
                            </form>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <div id="output" class="center"></div>
        <div id="chart_div" name="chart_div" style="height: auto;width: auto;">
        <div class="modal" style="display: none;">
            <div class="center">
                <img alt="" src='http://www.cuisson.co.uk/templates/cuisson/supersize/slideshow/img/progress.BAK-FOURTH.gif'>
            </div>
        </div>
    </div>
  </body>
</html>